*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
body {
  scroll-behavior: smooth;
  background: #000000;
  color: #ffffff;
  width: 100%;
  font-family: "Zilla Slab", serif;
  overflow-x: hidden;
}

/* top scroll */

.topScroll {
  height: 3.8rem;
  width: 3.83em;
  /* border: 0.2rem solid white; */
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
  right: 2rem;
  bottom: 2rem;
  z-index: 6;
}

.top-scroll-icon {
  width: 2rem;
}

/* -------------------- navigation ------------------ */
nav {
  position: fixed;
  width: 100%;
  background-color: #9f0006;
  height: 3rem;
  z-index: 1000;
}

nav .centernav {
  width: 100%;
  height: 90%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .navicons {
  display: flex;
  position: absolute;
  top: 17%;
  list-style-type: none;
  justify-content: left;
}

nav .centernav li {
  /* les "li" qui sont dans "nav" */
  margin: 0 0.9vw;
}
nav .centernav a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fef986;
}

nav .navicons li {
  margin: -0rem 0.5rem;
}
nav .navicons a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fef986;
}

@media screen and (max-width: 550px) {
  nav .centernav li {
    margin: 0 0.7vw;
  }
  nav .centernav a {
    font-size: 16px;
  }
  nav .navicons li {
    margin: -0.2rem -0.2rem;
  }
}
/* -------------------heaader ---------------- */

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(./images/title.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 0;
}

.logohead {
  width: 100vw;
  height: 100vh;
}

header .logo {
  position: absolute;
  top: 5.9vh;
  right: 7.8vw;
  z-index: 1;
}

.textlogo {
  position: absolute;
  top: 11vh;
  right: 1.5vw;
  z-index: 1;
  width: 80%;
}

.logo img {
  height: 20vh;
  width: 100%;
}

#about {
  height: 100vh;
  display: flex;
}

#about img {
  width: 54rem;
  margin: 2rem 0 2rem 4rem;
}

#about .about {
  color: white;
  width: 40%;
  height: 70vh;
  margin: 9rem 0 17rem 8rem;
}

.about h1 {
  font-size: 6.2rem;
  text-transform: uppercase;
  z-index: 3;
}

.about p {
  margin-top: 2rem;
  font-size: 2.2rem;
  line-height: 3.5rem;
  z-index: 3;
}

#menu {
  position: relative;
  height: 60vh;
  display: flex;
  /* background-color: red; */
}

#menu .menu {
  float: left;
  width: 92%;
  margin: 6rem 0 2rem 8rem;
}

.menu h1 {
  font-size: 6.2rem;
  text-transform: uppercase;
}

.menu p {
  margin-top: 2rem;
  line-height: 2.5rem;
  font-size: 2.2rem;
}

.menu a {
  z-index: 2;
  position: absolute;
  margin-top: -2rem;
  margin-left: 30rem;
}

#menu picture img {
  position: absolute;
  margin-left: -51.5rem;
  margin-top: -18rem;
  width: 38rem;
}
/*!-------------- grand écran-------------- 
/* ! */ /* ! */
/* ! */
/* ! */
/* ! */
/* ! */
/* ! */

@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .topScroll {
    height: 3.8rem;
    width: 3.83em;
    /* border: 0.2rem solid white; */
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: fixed;
    cursor: pointer;
    right: 2rem;
    bottom: 2rem;
    z-index: 6;
  }

  .top-scroll-icon {
    justify-content: center;
    align-items: center;
    width: 2rem;
  }

  #contact .description {
    margin-left: 10rem;
    margin-top: 3em;
    font-size: 2rem;
    line-height: 3rem;
  }

  .carte iframe {
    width: 40vw;
    height: 80vh;
  }
  .contact {
    height: 80vh;
    width: 82vw;
    margin: 8rem 0 17rem 8rem;
    /* background-color: red; */
    display: flex;
  }

  #contact {
    position: relative;
    height: 100vh;
    padding-top: 3.5rem;
  }

  #contact .contactTitle {
    position: absolute;
    float: left;
    width: 92%;
    margin: 0rem 0 2rem 8rem;
  }

  .contactTitle h1 {
    font-size: 5.2rem;
    margin-left: 5rem;
  }

  .contactTitle picture {
    position: absolute;
  }

  #about {
    height: 90vh;
  }

  #about .about {
    color: white;
    width: 40%;
    height: 70vh;
    margin: 3rem 0 17rem 8rem;
  }

  #about img {
    width: 54rem;
    margin: 2rem 0 2rem 4rem;
  }

  #menu picture img {
    /* position: absolute; */
    /* margin-left: -35.7rem; */
  }

  #menu .menu {
    float: left;
    width: 92%;
    margin: 3rem 0 2rem 8rem;
  }

  #menu picture img {
    margin-left: -51.5rem;
    margin-top: -18rem;
    width: 40rem;
  }

  #menu h1 {
    top: -15rem;
  }
}
/*!------------portable -------------- 
/* ! */
/* ! */
/* ! */
/* ! */
/* ! */
/* ! */
@media screen and (min-width: 700px) and (max-width: 1550px) {
  #contact .description {
    margin-left: 4.5em;
    margin-top: 5em;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .carte iframe {
    width: 40vw;
    height: 80vh;
  }
  .contact {
    height: 80vh;
    width: 82vw;
    margin: 8rem 0 17rem 8rem;
    /* background-color: red; */
    display: flex;
  }

  #contact {
    position: relative;
    height: 120vh;
    padding-top: 3.5rem;
  }

  #contact .contactTitle {
    position: absolute;
    float: left;
    width: 92%;
    margin: 0rem 0 2rem 8rem;
  }

  .contactTitle h1 {
    font-size: 5.2rem;
    margin-left: 5rem;
  }

  .contactTitle picture {
    position: absolute;
  }

  #about .about {
    color: white;
    width: 40%;
    height: 70vh;
    margin: 3rem 0 17rem 8rem;
  }

  #about img {
    width: 42rem;
    margin: 2rem 0 2rem 4rem;
  }
  #menu .menu {
    margin: 2rem 0 2rem 8rem;
  }

  #about {
    height: 80vh;
    display: flex;
  }
  #menu picture img {
    margin-left: -41.3rem;
    margin-top: -10rem;
    width: 33rem;
  }

  .menu h1 {
    font-size: 6.2rem;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  .about h1 {
    font-size: 5.2rem;
    text-transform: uppercase;
    z-index: 3;
  }

  .about p {
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    z-index: 3;
  }

  .menu p {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}

/* ! */

.scroll-tracker {
}
